
.about-me {
  text-align: center;
}
.chand{
  text-align: center;
}
.
















































































@media(min-width: 1200px)
{

}
@media(max-width: 990px)
{
  .logo{
    width:100%;
  }
 .my_navbar{
   width:100%;
  
    }
}
@media(max-width: 800px)
{
  logo{
    width:100%;
  }
}
@media(max-width: 600px)
{
  logo{
    width:100%;
  }
}
@media(max-width: 500px)
{
  logo{
    width:100%;
  }
}
